@import url(//at.alicdn.com/t/font_2302506_u56hm93bj2.css);.mu-icon {
    font-family: iconfont!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.card-radius .mu-card-media {
    width: calc(100% - 32px);
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px
}

.card-radius .mu-card-media-title {
    padding: 8px 16px!important
}

.card-radius .mu-card-media-title .mu-card-title {
    font-size: 20px!important
}

header.mu-appbar {
    background: #fff;
    color: #0b0f10;
    box-shadow: none
}

header.mu-appbar .mu-appbar-title {
    font-size: 18px;
    font-weight: 700
}

.currency_color {
    color: #555
}

.footer {
    height: 70px
}

body,html {
    position: fixed;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column
}

.container,.container-my {
    padding: 0!important
}

#app,.container-my {
    height: 100%
}

#app {
    font-family: Avenir,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center
}

input:-internal-autofill-selected {
    transition: background-color 5000s ease-in-out 0s
}

input:-webkit-autofill,input:-webkit-autofill:active,input:-webkit-autofill:focus,input:-webkit-autofill:hover {
    -webkit-transition-delay: 99999s;
    -webkit-transition: color 99999s ease-out,background-color 99999s ease-out
}

.footercont[data-v-e73586ca] {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
    height: 70px;
    line-height: 70px;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    align-items: center;
    display: flex
}

.footercont .flex-column[data-v-e73586ca] {
    height: 100%;
    flex-direction: row;
    align-items: center;
    line-height: 20px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column
}

.footercont .flex-column>div[data-v-e73586ca] {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.footercont .flex-column mu-ripple[data-v-e73586ca] {
    position: relative
}

.footercont .flex-column .iconfont[data-v-e73586ca] {
    font-size: 18px
}

.footercont .flex-column div[data-v-e73586ca]:last-child {
    font-size: 12px
}

.footercont .flex-column.active[data-v-e73586ca] {
    color: #0081cc
}

.foot-cnl .flex-column[data-v-e73586ca] {
    color: #b4b4b4
}

.foot-cnl .icon[data-v-e73586ca] {
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 auto
}

.foot-cnl .icon.icon1[data-v-e73586ca] {
    background: url(../assets/images/ficon1.png) no-repeat 50%/contain
}

.foot-cnl .icon.icon1_act[data-v-e73586ca] {
    background: url(../assets/images/ficon1_1.png) no-repeat 50%/contain
}

.foot-cnl .icon.icon2[data-v-e73586ca] {
    background: url(../assets/images/ficon2.png) no-repeat 50%/contain
}

.foot-cnl .icon.icon2_act[data-v-e73586ca] {
    background: url(../assets/images/ficon2_1.png) no-repeat 50%/contain
}

.foot-cnl .icon.icon3[data-v-e73586ca] {
    background: url(../assets/images/ficon3.png) no-repeat 50%/contain
}

.foot-cnl .icon.icon3_act[data-v-e73586ca] {
    background: url(../assets/images/ficon3_1.png) no-repeat 50%/contain
}

.foot-cnl .icon.icon4[data-v-e73586ca] {
    background: url(../assets/images/ficon4.png) no-repeat 50%/contain
}

.foot-cnl .icon.icon4_act[data-v-e73586ca] {
    background: url(../assets/images/ficon4_1.png) no-repeat 50%/contain
}

.foot-cnl .flex-column.active[data-v-e73586ca] {
    color: #000
}

.header .button-wrapper {
    text-align: center
}

.header .button-wrapper .mu-icon-button {
    padding: 8px!important
}

.header .button-wrapper .mu-button {
    margin: 8px;
    vertical-align: top
}

.home .header .icon {
    font-size: 23px
}

.home .header div:first-child {
    text-align: left
}

.home .header .service {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center
}

.home .header .service .icon {
    font-size: 24px;
    fill: #333
}

.swiper-slide {
    transition: all .6s
}

.mu-tabs-inverse {
    background: #fff
}

.mu-linear-progress-determinate {
    height: 1px!important;
    position: fixed!important
}

.swiper-slide-next img,.swiper-slide-prev img {
    transform: scale(.96)!important
}

.swiper-slide-active img,.swiper-slide-duplicate-prev img {
    transform: scale(1)!important
}

.swiper-pagination-bullet {
    width: 5px;
    height: 5px
}

.swiper-pagination-bullet-active {
    background: #fff;
    width: 5px;
    height: 5px
}

.line[data-v-fd641a74] {
    width: 100%;
    height: 5px;
    background: #eee
}

.mu-load-more[data-v-fd641a74] {
    height: 100%
}

.inner-menu[data-v-fd641a74] {
    height: 70px;
    line-height: 70px;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    align-items: center;
    display: flex
}

.inner-menu .flex-column[data-v-fd641a74] {
    height: 100%;
    flex-direction: row;
    align-items: center;
    line-height: 25px;
    flex: 1;
    display: flex;
    flex-direction: column
}

.inner-menu .flex-column>div[data-v-fd641a74] {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.inner-menu .flex-column mu-ripple[data-v-fd641a74] {
    position: relative
}

.inner-menu .flex-column .iconfont[data-v-fd641a74] {
    font-size: 18px
}

.inner-menu .flex-column div[data-v-fd641a74]:last-child {
    font-size: 12px
}

.wrap[data-v-fd641a74] {
    height: 100%
}

.textBox[data-v-fd641a74] {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center
}

.text[data-v-fd641a74] {
    width: 100%;
    position: absolute;
    line-height: 40px;
    margin: 0;
    padding: 0
}

.slide-enter-active[data-v-fd641a74],.slide-leave-active[data-v-fd641a74] {
    transition: all .5s linear
}

.slide-enter[data-v-fd641a74] {
    transform: translateY(20px) scale(1);
    opacity: 1
}

.slide-leave-to[data-v-fd641a74] {
    transform: translateY(-20px) scale(.8);
    opacity: 0
}

.orelist[data-v-fd641a74] {
    padding: 10px
}

.orelist .toptit[data-v-fd641a74] {
    font-size: 20px;
    text-align: left;
    font-weight: 700;
    padding: 0 10px 5px
}

.orelist .oreitem[data-v-fd641a74] {
    padding: 5px;
    position: relative
}

.orelist .oreitem img[data-v-fd641a74] {
    width: 100%;
    vertical-align: top;
    position: relative
}

.orelist .oreitem .info[data-v-fd641a74] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
}

.orelist .oreitem .info .tit[data-v-fd641a74] {
    font-size: 20px
}

.orelist .oreitem .info .txt[data-v-fd641a74] {
    font-size: 16px
}

.orelist .oreitem .info .btn[data-v-fd641a74] {
    background: #216bf6;
    padding: 5px 15px;
    border-radius: 30px;
    color: #fff;
    margin-top: 10px
}

body[data-v-5631052a] {
    background: #000;
    text-align: left
}

.wrap[data-v-5631052a] {
    height: 100%;
    text-align: left
}

.mu-demo-form[data-v-5631052a] {
    width: 100%;
    max-width: 460px
}

.login[data-v-5631052a] {
    padding: 20px;
    background: #fff
}

.login .close[data-v-5631052a] {
    font-size: 24px;
    color: #999
}

.login .loginbtn[data-v-5631052a] {
    width: 100%;
    height: 40px
}

.mu-form-item .mu-button {
    margin: 0!important
}

.mu-option.is-selected .mu-item {
    color: #0b0f10!important
}

.mu-form-item-help {
    color: hsla(0,0%,61.2%,.5411764705882353)!important
}

.mu-checkbox-icon {
    transform: scale(.8);
    margin-top: -2px;
    margin-right: 2px!important
}

body[data-v-6583bf52] {
    background: #000;
    text-align: left
}

.wrap[data-v-6583bf52] {
    height: 100%;
    text-align: left
}

.mu-demo-form[data-v-6583bf52] {
    width: 100%;
    max-width: 460px
}

.regcontainer[data-v-6583bf52] {
    height: calc(100% - 50px);
    overflow-y: auto
}

.regcontainer[data-v-6583bf52]::-webkit-scrollbar {
    display: none
}

.login[data-v-6583bf52] {
    padding: 20px;
    background: #fff
}

.login .close[data-v-6583bf52] {
    font-size: 24px;
    color: #999
}

.login .loginbtn[data-v-6583bf52] {
    width: 100%;
    height: 40px
}

.my-settings[data-v-042a8448] {
    height: 100%;
    overflow: auto
}

.my-settings .mu-item[data-v-042a8448] {
    height: 46px
}

.my-settings .mu-item-action[data-v-042a8448] {
    margin-left: 10px;
    min-width: 40px!important
}

.my-settings .mu-card[data-v-042a8448] {
    box-shadow: none!important
}

.my-settings .mu-card-actions[data-v-042a8448] {
    text-align: center
}

.my-settings .mu-flat-button[data-v-042a8448] {
    min-width: 108px!important
}

.button-wrapper[data-v-042a8448] {
    text-align: center
}

.button-wrapper .mu-button[data-v-042a8448] {
    margin: 8px;
    vertical-align: top
}

.subtitle {
    color: rgba(0,0,0,.54)
}

.mu-input {
    font-size: 14px!important
}

.info-wrap {
    line-height: 50px;
    padding-left: 20px;
    display: flex;
    font-size: 12px;
    color: #c7cce6
}

.info-wrap div:first-child {
    font-size: 16px;
    color: #ffc90c
}

.info-wrap div {
    padding: 0 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.info-wrap div span {
    line-height: 20px
}

.htitle[data-v-6f174085] {
    color: #999
}

.footer[data-v-6f174085] {
    height: 70px
}

.line[data-v-6f174085] {
    width: 100%;
    height: 5px;
    margin: 10px 0;
    background: #eee
}

.dialog[data-v-6f174085] {
    overflow-x: auto
}

.dialog li[data-v-6f174085] {
    padding: 2px;
    font-size: 14px;
    flex: 0 0 calc(33% - 10px);
    border: 2px solid #ccc;
    margin: 5px;
    text-align: center
}

.dialog li b[data-v-6f174085] {
    color: #325de3
}

.dialog li.active[data-v-6f174085] {
    border-color: #325de3
}

.dialog-content[data-v-6f174085] {
    height: calc(100% - 56px);
    overflow: hidden;
    overflow-y: auto
}

.dialog-cont ul li[data-v-6f174085] {
    font-size: 14px
}

.dialog-txt[data-v-6f174085] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px
}

.dialog-txt .tit[data-v-6f174085] {
    color: #325de3;
    margin-right: 20px
}

.dialog-txt .txt[data-v-6f174085] {
    text-align: right
}

.dialog-input[data-v-6f174085] {
    padding: 0 20px
}

.dialog-input .mu-input[data-v-6f174085] {
    width: 100%
}

.content[data-v-6f174085] {
    padding: 0 20px
}

.content ul[data-v-6f174085] {
    margin: 0;
    padding: 0
}

.content li[data-v-6f174085] {
    list-style: none;
    font-size: 12px;
    line-height: 30px
}

.content .buy[data-v-6f174085] {
    color: green
}

.content .sell[data-v-6f174085] {
    color: red
}

.subtit[data-v-6f174085] {
    color: #000
}

.mu-dialog-body {
    overflow: auto;
    height: 100%
}

.mycard .mu-card-sub-title[data-v-4c9a8348],.mycard .mu-card-title[data-v-4c9a8348] {
    color: #fff!important
}

.v-lodding[data-v-4c9a8348] {
    animation: scale-up-center-4c9a8348 .4s cubic-bezier(.39,.575,.565,1) infinite both
}

@keyframes scale-up-center-4c9a8348 {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(1turn)
    }

    to {
        transform: rotate(1turn)
    }
}

.my-settings[data-v-4c9a8348] {
    height: 100%;
    overflow: auto
}

.my-settings .mu-item-action[data-v-4c9a8348] {
    margin-left: 10px;
    min-width: 40px!important
}

.my-settings .mu-card[data-v-4c9a8348] {
    box-shadow: none!important;
    border-bottom: 1px solid #eee
}

.my-settings .mu-card-actions[data-v-4c9a8348] {
    text-align: center
}

.my-settings .mu-flat-button[data-v-4c9a8348] {
    min-width: 108px!important
}

.button-wrapper[data-v-4c9a8348] {
    text-align: center
}

.button-wrapper .mu-button[data-v-4c9a8348] {
    margin: 8px;
    vertical-align: top
}

.assetcard[data-v-4c9a8348] {
    width: 100%;
    padding: 0 20px;
    height: auto;
    margin-top: -50px
}

.assetcard .box[data-v-4c9a8348] {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #eee;
    background: #fff
}

.assetcard .box .refresh[data-v-4c9a8348] {
    width: 20px;
    height: 20px;
    margin-right: 14px
}

.mainbox[data-v-651f53cb] {
    background: #f7f6fb;
    overflow-y: auto;
    height: calc(100% - 56px);
    padding: 5px 5% 0;
    box-sizing: border-box
}

.top-p[data-v-651f53cb] {
    font-size: 26px;
    margin: 0 auto;
    font-weight: 700;
    text-align: center;
    margin-top: 22px
}

.mid-box[data-v-651f53cb] {
    padding: 20px 17px 50px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.mid-box .view[data-v-651f53cb] {
    box-shadow: 0 3px 7px 0 rgba(3,3,3,.05);
    border-radius: 23px;
    background: #fff;
    width: 248px;
    margin-bottom: 15px
}

.mid-box .view .title[data-v-651f53cb] {
    padding: 20px 15px 17px 15px;
    border-bottom: 1px solid #f1f3f4;
    display: flex;
    align-items: center;
    color: #333;
    font-size: 16px
}

.mid-box .view .title span[data-v-651f53cb] {
    font-weight: 600
}

.mid-box .view .title .icon[data-v-651f53cb] {
    height: 25px;
    width: 25px
}

.mid-box .view .div1[data-v-651f53cb] {
    padding: 12px 21px 14px 0;
    color: #1c9fff;
    text-align: right
}

.tabbt {
    padding: 4px 20px;
    border: 1px solid #eee;
    margin: 0 5px;
    border-radius: 5px
}

.tabbt.active {
    border-color: #0081cc
}

.walettit {
    display: block;
    color: #2296f3
}

.share .mu-card-media-title {
    text-align: center;
    color: #fff!important
}

.share .mu-card-media-title .mu-card-sub-title {
    color: #fff!important
}

.share .alitem {
    border-radius: 10px;
    line-height: 25px;
    padding: 0 15px;
    background: #f5f5f5
}

.help .mu-dialog-body {
    height: calc(100% - 56px);
    overflow: auto
}

.feedback .mu-appbar-title {
    font-size: 14px!important
}

.feedback .mu-dialog-body {
    height: calc(100% - 56px);
    overflow: auto
}

.right .mu-card-header {
    text-align: right!important
}

.right .mu-card-header-title {
    padding: 0!important
}

.mu-input {
    font-size: 16px!important
}

.mu-list-two-line .bankitem .mu-item {
    height: 100px;
    border-bottom: 1px solid #eee
}

.mu-list-two-line .bankitem .mu-item .t1 {
    font-size: 14px;
    height: 18px;
    line-height: 18px
}

.mu-list-two-line .bankitem .mu-item .t2 {
    font-size: 12px;
    height: 14px;
    line-height: 14px
}

.mu-list-two-line .bankitem .mu-item .t3 {
    font-size: 18px;
    margin-top: 5px
}

.mu-list-two-line .bankitem .mu-item .t4 {
    font-size: 12px;
    margin-top: 2px
}

.inputshare .mu-input {
    width: auto
}

.lever .mu-input.has-label {
    padding-bottom: 12px
}

.button-wrapper {
    text-align: center
}

.button-wrapper .mu-button {
    margin: 8px;
    vertical-align: top
}

.mu-flat-button .mu-button-wrapper {
    padding: 0!important
}

.subtitle {
    font-size: 12px;
    color: #888999
}

.subb {
    font-size: 14px;
    line-height: 30px
}

.tall {
    text-align: left
}

.talr {
    text-align: right
}

.talc {
    text-align: center
}

.mu-raised-button {
    box-shadow: none!important
}

.mu-item-action {
    min-width: 36px!important
}

.mu-input {
    margin-bottom: 0!important
}

.flex-demo {
    width: 33%
}

.list-item {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 12px
}

.list-item li {
    margin: 0;
    padding: 0;
    list-style: none;
    flex: 1;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center
}

.list-item li span:first-child,.list-item li span:nth-child(2) {
    width: 50%
}

.list-item li .info-shadow {
    height: 100%;
    background: rgba(53,182,90,.3);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    transition: .2s;
    min-width: 10%
}

.list-item li .info-shadow.selli {
    height: 100%;
    background: rgba(255,73,74,.3);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0
}

body[data-v-0c1f23f0] {
    background: #000;
    text-align: left
}

.wrap[data-v-0c1f23f0] {
    height: 100%;
    text-align: left
}

.mu-demo-form[data-v-0c1f23f0] {
    width: 100%;
    max-width: 460px
}

.login[data-v-0c1f23f0] {
    padding: 20px;
    background: #fff
}

.login .close[data-v-0c1f23f0] {
    font-size: 24px;
    color: #999
}

.login .loginbtn[data-v-0c1f23f0] {
    width: 100%;
    height: 40px
}

.iepn {
    height: 100%;
    overflow: auto
}

.iepn .echarts {
    width: 340px;
    height: 280px;
    margin: 0 auto
}

.iepn .mu-card-media-title {
    background-color: transparent!important;
    text-align: center
}

.iepn .mu-card-media-title .mu-card-sub-title,.iepn .mu-card-media-title .mu-card-title {
    background-image: linear-gradient(0deg,#5d35b0 2.63158%,#fff 74.5614%)!important;
    -webkit-background-clip: text!important;
    background-clip: text!important;
    text-fill-color: transparent!important;
    color: transparent!important
}

#qrcode {
    margin: 20px
}

#qrcode canvas {
    display: none
}

#qrcode img {
    margin: 0 auto;
    width: 50%
}

.tabbtd {
    display: inline-block;
    padding: 4px 8px;
    flex: 1;
    border: 1px solid #eee;
    transition: all .45s cubic-bezier(.23,1,.32,1);
    border-radius: 5px
}

.tabbtd.active {
    border-color: #0081cc
}

.mu-demo-form {
    width: 100%;
    max-width: 460px
}

.cureen-class[data-v-512bb7b6] {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 20px;
    box-sizing: border-box;
    color: #24ae91;
    margin-bottom: 20px
}

.cureen-class .money-class[data-v-512bb7b6] {
    font-size: 32px;
    font-weight: bolder
}

.cureen-class .money-class span[data-v-512bb7b6] {
    font-size: 20px
}

.tip-class[data-v-512bb7b6] {
    margin: 0 20px;
    color: #000;
    display: flex;
    justify-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 30px
}

.tip-class .title-class[data-v-512bb7b6] {
    font-size: 16px;
    font-weight: bolder;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    margin-bottom: 20px
}

.tip-class .row-class[data-v-512bb7b6] {
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    margin-bottom: 8px;
    color: #393838;
    text-align: left
}

.sub-class[data-v-512bb7b6] {
    margin: 0 20px;
    margin-top: 30px;
    background: #24ae91;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-radius: 100px
}

.sub-tip-class[data-v-512bb7b6] {
    margin-top: 10px
}

#qrcode[data-v-512bb7b6] {
    margin: 20px
}

#qrcode canvas[data-v-512bb7b6] {
    display: none
}

#qrcode img[data-v-512bb7b6] {
    margin: 0 auto;
    width: 50%
}

.tabbtd[data-v-512bb7b6] {
    display: inline-block;
    padding: 4px 8px;
    flex: 1;
    border: 1px solid #eee;
    transition: all .45s cubic-bezier(.23,1,.32,1);
    border-radius: 5px
}

.tabbtd.active[data-v-512bb7b6] {
    border-color: #0081cc
}

.mu-demo-form[data-v-512bb7b6] {
    width: 100%;
    max-width: 460px
}

.scroll[data-v-49d954dd] {
    width: 100%;
    overflow-x: auto
}

.scroll[data-v-49d954dd]::-webkit-scrollbar {
    display: none
}

.scroll .mu-step[data-v-49d954dd] {
    flex: 1 1 auto
}

.hh .mu-item-action[data-v-49d954dd] {
    width: 80px;
    text-align: right!important
}

.hh .mu-item-action div[data-v-49d954dd] {
    padding-right: 10px
}

.hh .mu-item-title[data-v-49d954dd] {
    text-align: center!important
}

.iepn[data-v-49d954dd] {
    height: 100%;
    overflow: auto
}

.iepn .echarts[data-v-49d954dd] {
    width: 340px;
    height: 280px;
    margin: 0 auto
}

.iepn .mu-card-media-title[data-v-49d954dd] {
    background-color: transparent!important;
    text-align: center
}

.iepn .mu-card-media-title .mu-card-sub-title[data-v-49d954dd],.iepn .mu-card-media-title .mu-card-title[data-v-49d954dd] {
    background-image: linear-gradient(0deg,#5d35b0 2.63158%,#fff 74.5614%)!important;
    -webkit-background-clip: text!important;
    background-clip: text!important;
    text-fill-color: transparent!important;
    color: transparent!important
}

.mkbox[data-v-b50cb7a4] {
    background: #fff;
    overflow-y: auto;
    height: calc(100% - 56px)
}

.header-bg[data-v-b50cb7a4] {
    position: relative;
    height: 150px
}

.header-bg .header-zichan-box[data-v-b50cb7a4] {
    position: absolute;
    top: 20px;
    margin: 0 8%
}

.header-bg .header-zichan-box .header-zichan-title[data-v-b50cb7a4] {
    color: #b0c9fe;
    font-size: 12px
}

.header-bg .header-zichan-box .header-zichan-ftitle[data-v-b50cb7a4] {
    margin-top: 8px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    text-align: center
}

.header-bg img[data-v-b50cb7a4] {
    width: 100%;
    height: 150px
}

.level_con[data-v-b50cb7a4] {
    line-height: 24px
}

.level_con li[data-v-b50cb7a4],.level_con ul[data-v-b50cb7a4] {
    list-style: none
}

.level_con li[data-v-b50cb7a4],.level_con p[data-v-b50cb7a4],.level_con ul[data-v-b50cb7a4] {
    margin: 0;
    padding: 0
}

.level_con li a[data-v-b50cb7a4] {
    color: inherit;
    display: block;
    border: 1px solid #f1f1f1;
    padding: 10px;
    background: #fff;
    border-radius: 2px
}

.level_con li a .flex1>p[data-v-b50cb7a4] {
    font-size: 14px
}

.blue2[data-v-b50cb7a4] {
    color: #728daf
}

.popforlang .mu-icon-button {
    width: 36px!important;
    height: 36px!important;
    padding: 5px!important
}

.popforlang .mu-item {
    font-size: 14px
}

.popforlang .mu-item .mu-item-title {
    font-size: inherit
}

.popforlang .mu-item .mu-item-action {
    min-width: 30px!important;
    height: auto!important
}

.mu-popover.transition-bottom {
    border-radius: 5px
}

.container {
    height: 100%
}

.container.orebg {
    background: url(../assets/images/orebg.jpg) no-repeat 50%/cover
}

.container.orebg .header .title {
    color: #fff
}

.home {
    height: 100%;
    display: flex;
    flex-direction: column
}

.home .header {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    padding-right: 10px
}

.home .header .title {
    font-size: 20px;
    color: #000;
    font-weight: 700;
    text-align: left
}

.home .header .back {
    width: 20px;
    height: 40px;
    margin-right: 10px;
    background: url(../assets/images/back.png) no-repeat 50%/contain
}

.home .container-my {
    flex: 1;
    padding: 0;
    height: calc(100% - 130px);
    overflow: auto
}

.home .container-my::-webkit-scrollbar {
    display: none
}

.home .mu-load-more {
    overflow: auto
}

.orelist[data-v-663274aa] {
    padding: 0 10px 10px
}

.orelist .oreitem[data-v-663274aa] {
    padding: 5px;
    position: relative
}

.orelist .oreitem img[data-v-663274aa] {
    width: 100%;
    vertical-align: top;
    position: relative
}

.orelist .oreitem .info[data-v-663274aa] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
}

.orelist .oreitem .info .tit[data-v-663274aa] {
    font-size: 20px
}

.orelist .oreitem .info .txt[data-v-663274aa] {
    font-size: 16px
}

.orelist .oreitem .info .btn[data-v-663274aa] {
    background: #216bf6;
    padding: 5px 15px;
    border-radius: 30px;
    color: #fff;
    margin-top: 10px
}

.oredetail .toptit[data-v-0b3b04e8] {
    color: #fbdb15;
    text-align: center;
    padding: 20px;
    font-size: 16px
}

.oredetail .txtbox[data-v-0b3b04e8] {
    background: rgba(0,0,0,.2);
    padding: 10px 20px;
    height: 92px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 20px;
    color: #fff;
    position: relative
}

.oredetail .txtbox .swiper-container[data-v-0b3b04e8] {
    height: 100%
}

.oredetail .txtbox p[data-v-0b3b04e8] {
    font-size: 13px;
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.oredetail .txtbox p span[data-v-0b3b04e8] {
    color: #fbdb15
}

.oredetail .imgbox[data-v-0b3b04e8] {
    margin-top: 50px;
    position: relative
}

.oredetail .imgbox .bg[data-v-0b3b04e8] {
    width: 100%;
    position: relative
}

.oredetail .imgbox .num[data-v-0b3b04e8] {
    position: absolute;
    top: 15%;
    left: 10%;
    color: #fbdb15;
    font-size: 30px
}

.coin-ani-enter[data-v-0b3b04e8] {
    transform: translateY(100%);
    opacity: 0
}

.coin-ani-leave-to[data-v-0b3b04e8] {
    transform: translateY(-100%);
    opacity: 0
}

.coin-ani-enter-active[data-v-0b3b04e8],.coin-ani-leave-active[data-v-0b3b04e8] {
    transition: .4s
}

.coin-ani-enter-to[data-v-0b3b04e8] {
    transform: translateY(0)
}

.contract-page[data-v-aca0c8d0] {
    height: 100%
}

.contract-page .container[data-v-aca0c8d0] {
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column
}

.contract-page .content[data-v-aca0c8d0] {
    height: 100%;
    flex: 1 1 auto;
    overflow: hidden
}

.contract-page .list[data-v-aca0c8d0] {
    height: calc(100% - 40px);
    overflow: auto
}

.body-h2Light .footer .flex-column.active {
    color: #24ae91
}

.body-h2Light .mu-circle-spinner {
    border-color: #24ae91
}

.body-conorDark .footer .flex-column.active {
    color: #24ae91
}

.body-conorDark .mu-circle-spinner {
    border-color: #24ae91
}

.body-conorDark .home .line {
    background: #000!important
}

.body-conorDark .home .alcenter {
    border-top: 1px solid #181d25!important
}

.body-conorDark .home .header .service .icon {
    font-size: 24px;
    fill: #24ae91
}

.body-conorDark .footercont {
    background: #111;
    color: #fff;
    border-top-color: #222!important
}

.body-conorDark .mu-item {
    color: #fff
}

.body-conorDark .mu-option.is-selected .mu-item {
    color: #ff0!important
}

.body-conorDark .mu-item-action,.body-conorDark .mu-item-sub-title {
    color: hsla(0,0%,100%,.5)
}

.body-conorDark .login {
    background: #181d25
}

.body-conorDark .login .mu-form-item {
    color: #fff
}

.body-conorDark .login .mu-checkbox,.body-conorDark .login .mu-checkbox-label {
    color: hsla(0,0%,100%,.5)
}

.body-conorDark .login .mu-input,.body-conorDark .login .mu-select-input,.body-conorDark .login .mu-text-field-input {
    color: #fff
}

.body-conorDark .login .mu-input-line {
    background: hsla(0,0%,100%,.1)
}

.body-conorDark .login .mu-primary-color {
    background: #24ae91
}

.body-conorDark .mu-card,.body-conorDark .mu-popover {
    background: #181d25
}

.body-conorDark .mu-card .mu-card-header-title .mu-card-title {
    color: #fff
}

.body-conorDark .mu-card .mu-card-header-title .mu-card-sub-title {
    color: hsla(0,0%,100%,.5)
}

.body-conorDark .mu-card .mu-card-text {
    color: #fff
}

.body-conorDark .mu-dialog {
    background: #181d25
}

.body-conorDark .mu-dialog header.mu-appbar {
    background: #181d25;
    color: #fff
}

.body-conorDark .mu-dialog .mu-dialog-title,.body-conorDark .mu-dialog .mu-input,.body-conorDark .mu-dialog .mu-select-input,.body-conorDark .mu-dialog .mu-text-field-input {
    color: #fff
}

.body-conorDark .mu-dialog .mu-dialog-body,.body-conorDark .mu-dialog .mu-flat-button,.body-conorDark .mu-dialog .mu-input-help {
    color: hsla(0,0%,100%,.8)
}

.body-conorDark .mu-dialog .dialog-txt .tit {
    color: #24ae91
}

.body-conorDark .mu-dialog .dialog-cont .subtit {
    color: #fff
}

.body-conorDark .mu-dialog .dialog-cont .dialog li.active {
    border-color: #24ae91
}

.body-conorDark .mu-dialog .dialog-cont .dialog li b {
    color: #24ae91
}

.body-conorDark .mu-dialog .mu-input-content {
    border-bottom: 1px solid hsla(0,0%,100%,.2)
}

.body-conorDark .mu-dialog .mu-radio {
    color: #fff;
    margin-right: 10px
}

.body-conorDark .mu-dialog .mu-radio .mu-radio-label {
    color: #fff;
    font-size: 14px
}

.body-conorDark .mu-dialog .mu-radio-checked {
    color: #24ae91
}

.body-conorDark .mu-dialog .mu-radio-checked .mu-radio-label,.body-conorDark .share .mu-primary-text-color {
    color: #fff
}

.body-conorDark .share .alitem {
    background: #666
}

.body-conorDark .assetcard .box {
    background: #222;
    border: 0;
    padding: 5px
}

.body-conorDark .mu-tabs-inverse {
    background: #181d25;
    color: hsla(0,0%,100%,.8)
}

.body-conorDark .maincont header.mu-appbar {
    background-color: #181d25!important;
    color: #fff!important
}

.body-conorDark .maincont .mu-dialog-title,.body-conorDark .maincont .mu-input,.body-conorDark .maincont .mu-select-input,.body-conorDark .maincont .mu-text-field-input {
    color: #fff
}

.body-conorDark .maincont .mu-input-help {
    color: hsla(0,0%,100%,.8)
}

.body-conorDark .maincont .currency_title b {
    color: #ff0!important
}

.body-conorDark .maincont .mainbox {
    background: #181d25
}

.body-conorDark .maincont .tall {
    color: #fff!important
}

.body-conorDark .maincont .line {
    background: #000!important
}

.body-conorDark .maincont .tabbtd.active {
    border-color: #24ae91;
    color: #24ae91
}

.body-conorDark .maincont .mu-input-content {
    border-bottom: 1px solid hsla(0,0%,100%,.2)
}

.body-conorDark .maincont .mid-box .view .div1 {
    color: #24ae91
}

.body-conorDark .maincont .tabbt.active {
    border-color: #24ae91;
    color: #24ae91
}

.body-conorDark .maincont .walettit {
    color: #24ae91
}

.body-conorDark .maincont .mu-step-label {
    color: #fff
}

.body-conorDark .maincont .mu-step-label.active {
    color: #24ae91
}

* {
    font-family: Arial,Microsoft Yahei
}

.hide {
    display: none!important
}

.fl {
    float: left
}

.fr {
    float: right
}

.flex {
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex
}

.column {
    flex-direction: column
}

.flex1 {
    flex: 1
}

.alcenter {
    align-items: center
}

.between {
    justify-content: space-between
}

.around {
    justify-content: space-around
}

.center {
    justify-content: center
}

.tl {
    text-align: left
}

.tc {
    text-align: center
}

.tr {
    text-align: right
}

.inblock {
    display: inline-block
}

.theme_color {
    color: #f16b7f!important
}

.scroll::-webkit-scrollbar {
    width: 6px;
    background-color: #000
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #2e333c
}

.white {
    color: #fff
}

.w50 {
    width: 50%
}

.nowrap {
    text-overflow: ellipsis;
    white-space: nowrap
}

.ft12 {
    font-size: 12px
}

.ft14 {
    font-size: 14px
}

.ft16 {
    font-size: 16px
}

.ft18 {
    font-size: 18px
}

.ft20 {
    font-size: 20px
}

.ft24 {
    font-size: 24px
}

.ml3 {
    margin-left: 3px
}

.ml40 {
    margin-left: 40px
}

.mt20 {
    margin-top: 20px
}

.mt30 {
    margin-top: 30px
}

.mt40 {
    margin-top: 40px
}

.mt60 {
    margin-top: 60px
}

.mt50 {
    margin-top: 50px
}

.mr20 {
    margin-right: 20px
}

.mr60 {
    margin-right: 60px
}

.mt3 {
    margin-top: 3px
}

.mt5 {
    margin-top: 5px
}

.mt10 {
    margin-top: 10px
}

.mt15 {
    margin-top: 15px
}

.ml10 {
    margin-left: 10px
}

.ml25 {
    margin-left: 25px
}

.mb5 {
    margin-bottom: 5px
}

.mb50 {
    margin-bottom: 50px
}

.mb40 {
    margin-bottom: 40px
}

.mb30 {
    margin-bottom: 30px
}

.mb15 {
    margin-bottom: 15px
}

.ml30 {
    margin-left: 30px
}

.ml20 {
    margin-left: 20px
}

.pdtb5,.pt5 {
    padding-top: 5px
}

.pdtb5 {
    padding-bottom: 5px
}

.pdlr20 {
    padding-left: 20px;
    padding-right: 20px
}

.pdtb20 {
    padding-bottom: 20px
}

.pdt20,.pdtb20 {
    padding-top: 20px
}

.pdb20 {
    padding-bottom: 20px
}

.pb50 {
    padding-bottom: 50px
}

.pb10 {
    padding-bottom: 10px
}

.pb15 {
    padding-bottom: 15px
}

.w5 {
    width: 5%
}

.w6 {
    width: 6%
}

.w8 {
    width: 8%
}

.w10 {
    width: 10%
}

.w11 {
    width: 11%
}

.w14 {
    width: 14%
}

.w15 {
    width: 15%
}

.w16 {
    width: 16%
}

.currency_title,.mu-input-suffix-text {
    font-size: 14px!important;
    color: #a7a7a7!important;
    font-style: normal;
    margin-left: 3px
}

.w20 {
    width: 20%
}

.w25 {
    width: 25%
}

.w30 {
    width: 30%
}

.w12 {
    width: 12%
}

.w18 {
    width: 18%
}

.w90 {
    width: 90%
}

.w100 {
    width: 100%
}

.lodw20 {
    width: 20px
}

.bold {
    font-weight: 700
}

.fColor1 {
    color: #c7cce6
}

.fColor2 {
    color: #637085
}

.fColor3 {
    color: #61688a
}

.fColor4 {
    color: #4e546f
}

.baseColor {
    color: #ffc90c
}

.ceilColor {
    color: #009688
}

.redColor {
    color: #cc4951
}

.red {
    color: #ff494a!important
}

.green {
    color: #35b65a!important
}

.curPer {
    cursor: pointer
}

.contentBK {
    background-color: #000
}

.topshadow {
    box-shadow: 0 3px 6px rgba(0,0,0,.1)
}

.ttBk {
    background-color: #1b1e2e
}

.active {
    color: #0081cc
}

.bg-part {
    background-color: #181b2a
}

.radius4 {
    border-radius: 4px
}

.bdb {
    border-bottom: 1px solid #303b4b
}

.baseBtn {
    background-color: #5697f4;
    color: #fff;
    border-radius: 4px
}

.main .baseBtn {
    width: 428px
}

.base {
    color: #ffc90c
}

.mouseDefault {
    cursor: pointer
}

.baseborderBtn,.baseBtn {
    display: inline-block;
    text-align: center;
    line-height: 48px;
    font-size: 16px;
    cursor: default
}

.back-nav {
    height: 72px;
    background-color: #181b2a;
    line-height: 72px;
    border-radius: 3px
}

.nav-after {
    display: block;
    height: 10px;
    background-color: #262a42
}

.account-content {
    width: 100%;
    min-height: 750px;
    background-color: #181b2a
}

.positionR {
    position: relative
}

.pageBack {
    background-color: #262a42
}

.bb_shadow {
    box-shadow: 0 5px 5px #1b1e2e
}

.bgwhite {
    background: #fff
}
